<div class="row">
  <div class="col-2">
    <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Customers
    <span class="caret"></span></button>
      <% @work_locations.each do |location| %>
      <ul class="dropdown-menu">
        <li> <%= location.name %> </li>
      </ul>
      <% end %>
    </div>
    <div>

    </div>
  </div>
</div>
