<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-dark">
  <div class="container-fluid">

    <button type="button" id="sidebarCollapse" class="btn btn-info">
      <i class="fas fa-align-left"></i>
    </button>


    <div>

    </div>
  </div>
</nav>
