<nav id="sidebar">
            <div class="sidebar-header">
                <%= image_tag('logo.png') %>
<!--                 <h3>Nutriviva</h3>
                <strong>NV</strong> -->
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu" aria-expanded="false" >
                        <i class="fas fa-home"></i>
                        Início
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-briefcase"></i>
                        Clientes
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-image"></i>
                        Calendário
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-question"></i>
                        Mensagens
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-paper-plane"></i>
                        About
                    </a>
                </li>
            </ul>

          <!-- fixed stuff -->
            <ul class="list-unstyled CTAs">

            </ul>
        </nav>
