<nav id="sidebar">
            <div class="sidebar-header">
                <%= image_tag('logo.png') %>
<!--                 <h3>Nutriviva</h3>
                <strong>NV</strong> -->
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu" aria-expanded="false" >
                        <i class="fas fa-home"></i>
                        Home
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-briefcase"></i>
                        About
                    </a>
                    <a href="#pageSubmenu"  aria-expanded="false">
                        <i class="fas fa-copy"></i>
                        Pages
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-image"></i>
                        Portfolio
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-question"></i>
                        FAQ
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-paper-plane"></i>
                        Contact
                    </a>
                </li>
            </ul>

          <!-- fixed stuff -->
            <ul class="list-unstyled CTAs">

            </ul>
        </nav>
