
<!-- Logo -->
<div class="logo">
  <%= image_tag "logo.png", width: "100", heigth:"100"; %>
</div>

<!-- Menus -->

<div>
  <ul>
    <li><i class="fas fa-home"></i>Home</li>
    <li><i class="fas fa-user"></i>Clientes</li>
    <li><i class="far fa-calendar-alt"></i>Calendário</li>
    <li><i class="far fa-envelope"></i>Email</li>
  </ul>
</div>
